<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial=scale=1.0"/>
        <link rel="stylesheet" href="/CSS/style.css">
        <link rel="stylesheet" href="/CSS/reviews.css">
        <title>YOUR REVIEWS</title>
        <link rel="shortcut icon" href="/img/favicon-32x32.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Varela+Round&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>     
        <!-- <link rel="stylesheet" href="style.css"></link> -->
    </head>
    <body>
        {{>header}}
        <form class="review-form" action="/EaseYourStudy/reviews" method="post">
            <h2>Your Reviews</h2><br>
            <p style="color: #ff006e;">If any of the channel's material you find best apart from the ones available please add the course name along with channels name . Thankyou!!</p>
         <br>   
         <div class="dept-name">
            <label for="dname">Department : </label>
            <select name="dname" id="dname">
                <option value="Computer Science">Computer Science</option>
                <option value="Electronics">Electronics</option>
                <option value="Mechanical">Mechanical</option>
                <option value="Bio Technology">Bio Technology</option>
            </select>
            <br><br>
        </div>
            <div id="text-bar">
            

            <input id="text1" name="review"type="text" placeholder="Course name-channel's name">
            <button  name="submit" id="submit" style="margin-left:10px;" >ADD</button>
            
            </div>
        </form>
        <div id="reviewsList">
          
        </div>
            <div style="min-height: 350px;" class="items-list">
                <div class="review-list">
                    <!--<article class="review-item">
                        <p class="title">item</p>
                        <div class="btn-container">
                            <button type="button" class="edit-btn">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button type="button" class="delete-btn">
                                <i class="fas fa-delete"></i>
                            </button>
                        
                        </div>
                    </article>-->
                </div>
                <button style="margin-bottom: 20px;" class="submit1">SUBMIT</button>           
            </div>
        {{>footer}}
        
        <script src="/js/script.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>