 <!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EASE YOUR STUDY | Become an expert</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="shortcut icon" href="favicon-32x32.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Varela+Round&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <!-- <title>LOGIN</title> -->
        <link rel="stylesheet" href="/CSS/style_login_sign_up.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
<body>
    {{>header}}
    <section class="search">
        
            <form action="" class="myform">
                <input type="text" name="search" id="search" onkeydown = "if (event.keyCode == 13) return searchKey()"/>
            </form>
        
    </section>

    {{>footer}}
    <div id="overlay">
            
        </div>
        
        <div id="modal" class="container1">
            <form action="/signup" method="post" id="signupform">
              
            <img src="/img/Capture.PNG" width="380px" height="85px">
            <h3>Sign up for free!</h3>
            <div class="container-1">
           
                <input type="text" placeholder="Name" id="name" name="name">
            
                <input type="email" placeholder="Email" id="email" name="email">
            <br>
                 <input type="password" placeholder="Password" id="password" name="password">
             
             
                 <input type="password" placeholder="Confirm Password" id="conf_password" name="conf_password">
             
            </div>
                <input type="submit" class="login-btn btn" value="Sign Up">  
            <div class="btn1">  
                {{!-- <a id="signup"class="login-btn btn"><span>Sign Up</span></a> --}}
            </div>
            <h4>Already have an account?<a href="/login">Login</a></h4>   
            </form>
            
        </div>
    
    <script>
        function openModal() {
        $("#overlay").css({"display":"block"});
        $("#modal").css({"display":"block"});
        }
        openModal();
    </script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script src="/js/signup.js"></script>
    
</body>
</html>