@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --primary: #3DCFD3;
    --dark: #3f37c9;
    --pure: #FFFFFF;
    --ternary: #898989;
    --light: #F2F2F2;
    --secondary: #070606;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--pure);
    font-family: 'Poppins', sans-serif;
    min-width: 20px;
    overflow-x: hidden;
    
}
h1,h2,h3,p{
  margin: 0;
  padding: 0;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



/********************************************************************header**************************************************/
h1{
    color:#ff006e;
    
}
div{
    display: block;
}
.container{
    padding: 0 25px;
    margin:  auto;
    
}
header nav {
    
    
    margin: 10px 30px ;
    
}

header nav .left .btn-1 a{
    text-decoration: none;
    text-decoration-line: none;
    color: var(--dark);
    padding: 0 3rem;    
   
    
}
header nav .right{
    padding-right:20px;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .btn-1 {
    
    padding: 1.5rem 2.5rem   ;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    border: none;
    color:var(--dark);
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: var(--pure);
}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block; }
.dropdown:hover .btn-1{color:#fb8500;}
.icon{
  display: none;
}


@media screen and (max-width: 1000px) {
  .left button:not(.icon) {display: none;}
  .icon{display: block;
  transform: translateY(25%);}
  
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--light);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--secondary);
    display: block;
    transition: 0.5s;
  }
  
  .sidenav a:hover {
    color: #e9c46a;

  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #user_name{
    color: #2b9348; 
    font-weight: bolder;
    margin-left: 8px;
  }

/**********************************************************section************************************************/
.search{
    margin-top:50px;
    text-align: center;

}
.search input{
    
    padding: 10px 40px ;
    width:50%;
    border: 0.2px ;
    border-color: var(--pure);
    border-radius: 10px;
    border-style: solid;
    box-shadow:  5px 5px 5px 5px #888888;
    background: url("https://img.icons8.com/ios/32/000000/search--v1.png") top left no-repeat;
    background-color: var(--light);
}

.container h1{
    color: #fb0000;
  
    text-align: center;
    font-size: 2rem ;
    padding-top: 50px;
  
    
}

#ECE,#MECH,#BIO,#CIVIL{
    display: none;

}
#CSE{
    display: block;
}

.display-topic{
  
    width:25%;
    background-color: var(--light);
    float: left;
    min-height: 600px;
    min-width:220px;
    margin-left: 2%;
    
    overflow: hidden;
    padding: 20px;
    
}
.display-topic a{
  text-decoration: none;
  color:#fb8500 ;
}
.topics ul{
    padding: 20px;
    font-size: 1.4rem;
    color: var(--dark);
    list-style: none;
    text-align: center;
  
}
.topics li{
    list-style: none;
   
    background-color: var(--light);
    padding: 10px ;
    margin: 10px;
    font-size: 1.2rem;
  
}
.wrapp div{
  min-height: fit-content;
  
} 
.youtube-video{
    padding-top: 60px;
    overflow:hidden;
    max-height: 60%;
    text-align: center;
    margin-left:2% ;
}
h1,h2,p{
    padding: 0;
    margin: 0;
}
.wrapp{
  overflow: hidden;
}

@media screen and (max-width:820px)
{.display-topic{
  width: 100%;
  float:none;
  text-align: center;
}
.youtube-video{
  
  
   float:none;
   text-align: center;
}
}





h1{
  margin-bottom: 60px;
}
.content{
  margin: 70px 0;
  background-color: var(--pure);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  
  padding: 10px;
  margin: 20px;
}
.grid-item {
  background-color: var(--pure);
  margin-top: 60px;
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.iframe{
  border-radius: 10px;
}
button.easy,button.hard,button.medium{
  margin: 20px;
  padding:5px 10px;
  border-radius: 5px;
  border:none;
  position:absolute;
  transform: translate(-320px,140px);
  color: #ddd;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  
}
button.easy{
  background-color: #2b9348;
}
button.hard{
  background-color: #9a031e;

}
button.medium{
  background-color: #e36414;
}

button.eng,button.hin{
  margin: 20px;
  padding:5px 10px;
  border-radius: 5px;
  border:none;
  position:absolute;
  transform: translate(-260px,140px);
  color: #ddd;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  
}
button.medium+button.eng, button.medium+button.hin{
  transform: translate(-235px,140px);

}
button.eng{
  background-color: #0f4c5c;

}
button.hin{
  background-color:  #fb0000;
}


.footer{
    
    background-color: var(--secondary);
    color: #fff;
    
    font-weight: 400;    
    margin-bottom: 0;
  
    
    
  }

  .footer__title{
    font-size: 2rem;
    margin-bottom: 4px;
  }
  .footer__social{
    margin-bottom: 4px;
  }
  .footer__icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 2px;
  }

  .contact{
    text-align: center;
  }
  .logos{
    min-width: 600px;
    margin: 0 44%;
  }
  .logos img{
    filter: grayscale(100%); 
    display: inline; transform: translateY(25%) ;
  }
  .logos p
  {
    display: inline;
  }
  .logos a{
    text-decoration: none;
    color: #ddd;
  }
  


/**************video page***********/
span{
  font-size: 21px;
  padding: 20px;
  
}
.sec-two{
  margin:0 200px;
}
.part1{
   
  width: 100%;
}
.home{
  height:30px;
  border: 1px solid black;
  border-radius: 4px;
  color: var(--secondary);
  width:100%;
  min-width: 300px;

  
}
iframe{
  min-width: 300px;
  padding-bottom: 100px;
}


